$Black: #000000;
$White: #ffffff;

$PrussianBlue0: #ccddeb;
$PrussianBlue10: #aac6de;
$PrussianBlue20: #80a9cd;
$PrussianBlue30: #558dbc;
$PrussianBlue40: #2a70ac;
$PrussianBlue50: #00549b;
$PrussianBlue60: #004681;
$PrussianBlue70: #003867;
$PrussianBlue80: #002a4e;
$PrussianBlue90: #001c34;
$PrussianBlue100: #00111f;

$Blue0: #cfe4f4;
$Blue10: #afd2ed;
$Blue20: #87bce4;
$Blue30: #60a5dc;
$Blue40: #388ed3;
$Blue50: #1078ca;
$Blue60: #0d64a8;
$Blue70: #0b5087;
$Blue80: #083c65;
$Blue90: #052843;
$Blue100: #031828;

$Orange0: #fde2d3;
$Orange10: #fbcfb5;
$Orange20: #f9b790;
$Orange30: #f79f6b;
$Orange40: #f58746;
$Orange50: #f36f21;
$Orange60: #ca5d1c;
$Orange70: #a24a16;
$Orange80: #7a3810;
$Orange90: #51250b;
$Orange100: #311607;

$Red0: #fad7d7;
$Red10: #f7bdbd;
$Red20: #f49c9c;
$Red30: #f07b7b;
$Red40: #ec5a5a;
$Red50: #e83939;
$Red60: #c13030;
$Red70: #9b2626;
$Red80: #741c1c;
$Red90: #4d1313;
$Red100: #2e0b0b;

$Green0: #d4efdf;
$Green10: #b7e4ca;
$Green20: #93d7b0;
$Green30: #6fc995;
$Green40: #4bbc7b;
$Green50: #27ae60;
$Green60: #209150;
$Green70: #1a7440;
$Green80: #145730;
$Green90: #0d3a20;
$Green100: #082313;

$Yellow0: #fcf0cd;
$Yellow10: #fae6ab;
$Yellow20: #f7d981;
$Yellow30: #f4cd57;
$Yellow40: #f2c02d;
$Yellow50: #efb403;
$Yellow60: #c79602;
$Yellow70: #9f7802;
$Yellow80: #775a01;
$Yellow90: #503c01;
$Yellow100: #302401;

$SkyBlue0: #d3f6ff;
$SkyBlue10: #b5f0ff;
$SkyBlue20: #90e8ff;
$SkyBlue30: #6be0ff;
$SkyBlue40: #46d9ff;
$SkyBlue50: #21d1ff;
$SkyBlue60: #1caed5;
$SkyBlue70: #168baa;
$SkyBlue80: #106980;
$SkyBlue90: #0b4655;
$SkyBlue100: #072a33;

$Pink0: #ffdbe4;
$Pink10: #ffc4d2;
$Pink20: #ffa6bb;
$Pink30: #ff88a4;
$Pink40: #ff6b8e;
$Pink50: #ff4d77;
$Pink60: #d54063;
$Pink70: #aa334f;
$Pink80: #80273b;
$Pink90: #551a28;
$Pink100: #330f18;

$Grey0: #fafafa;
$Grey10: #f6f7f9;
$Grey20: #f0efef;
$Grey30: #e5e7e9;
$Grey40: #e0e0e0;
$Grey50: #cccccc;
$Grey60: #999999;
$Grey70: #707070;
$Grey80: #5c5c5c;
$Grey90: #4d4d4d;
$Grey100: #333333;
